---
import Layout from "../Layout.astro";
---
<!-- @ts-ignorefile -->

<Layout>
  <button hx-post="/test" hx-target="#p">
    Click Me
    </button>
    <p id="p">HELLo</p>
    <div id="h"></div>
</Layout>
