---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://unpkg.com/htmx.org@latest"></script>
    <script src="https://unpkg.com/htmx.org@latest/dist/ext/alpine-morph.js"></script> 
    <!-- Alpine Plugins -->
    <script src="https://unpkg.com/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Astro</title>
	</head>
	<body class="bg-zinc-900 p-10 text-zinc-300">
    <slot />
	</body>
</html>